@import "tailwindcss";
*{
  scrollbar-color: #ffd700 #00000000;
}
@theme {
  --color-primary: #ffd700;
  --color-secondary: #aaaaaa;
  --color-bg: #050508;
  --font-pixel: "Press Start 2P", monospace;
  --font-inter: "Inter", sans-serif;
}
html {  
  scroll-behavior: smooth; 
}
::-webkit-scrollbar { 
  width: 6px;
  background: #111; 
}
::-webkit-scrollbar-thumb { 
  background: #ffd700; 
}
@keyframes scanline { 0%{transform:translateY(-100%)} 100%{transform:translateY(100vh)} }
@keyframes glitch {
0%,100%{text-shadow:3px 3px 0 #000, 0 0 20px #ffd70088}
92%{text-shadow:3px 3px 0 #000, 0 0 20px #ffd70088}
93%{text-shadow:-3px 0 #ff006688, 3px 0 #00ffff88, 3px 3px 0 #000}
94%{text-shadow:3px 3px 0 #000, 0 0 20px #ffd70088}
97%{text-shadow:3px 0 #ff006688, -3px 0 #00ffff88, 3px 3px 0 #000}
98%{text-shadow:3px 3px 0 #000, 0 0 20px #ffd70088}
}
@keyframes blink {
0%,100%{opacity:1}
50%{opacity:0}
}